{% extends 'base.html' %}

{% block title %}Candidaturas - Sistema Eleitoral{% endblock %}

{% block content %}
<h2>Candidaturas</h2>
<p>Nessa página é possível visualizar todas as candidaturas e ordenar os atributos clicando neles.</p>

<form id="column-form" action="/candidatura_order" method="post" style="display: none;">
    <input type="hidden" name="column" id="column-input">
</form>

<table class="table" id="candidaturas-table">
    <thead>
        <tr>
            {% for colname in colnames %}
                <th>
                    <a href="#" class="column-link" data-column="{{ colname }}">{{ colname }}</a>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const columnLinks = document.querySelectorAll(".column-link");

        columnLinks.forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();

                const columnName = this.getAttribute("data-column");
                const columnInput = document.getElementById("column-input");

                columnInput.value = columnName;

                const form = document.getElementById("column-form");
                form.submit();
            });
        });
    });
</script>

{% endblock %}
