{% extends "base.html" %}

{% block title %}Relatórios - Sistema Eleitoral{% endblock %}

{% block content %}
<h2>Relatórios</h2>
<p> Lista os presidentes, deputados e senadores eleitos.</p>

<div class="row">
    <div class="col">
        <form method="POST">
            <label for="table">Selecione o cargo:</label>
            <select name="table" id="table" onchange="changeTable()">
                <option value="Presidente">Presidente</option>
                <option value="Senador">Senador</option>
                <option value="Deputado Federal">Deputado Federal</option>
            </select>
        </form>
    </div>
</div>

<input type="hidden" name="table" value="{{ public_office }}">

<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                {% for colname in colnames %}
                    <th>{{ colname }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function changeTable() {
    document.querySelector("form").submit();
}

</script>
{% endblock %}
